

div
    .input-group
        span.input-group-addon#bootType Tekne Adı
        input( type="text", placeholder="Tekne Adı", aria-describedby="bootType", value="#{ model.boatName }").form-control
    br
    .input-group
        span.input-group-addon#subject Konu
        input( type="text", placeholder="Konu", aria-describedby="subject", value="#{ model.subject }").form-control
    br
    .input-group
        span.input-group-addon#startDate Tarih
        input( type="text", placeholder="Başlangıç Zamanı", aria-describedby="startDate", value="#{ model.startDateTime }").form-control
    br
    .input-group
        span.input-group-addon#startEndTime Saat
        input( type="text", placeholder="Saati", aria-describedby="startEndTime", value="#{ model.startTime } - #{ model.endTime }").form-control
    br
    .input-group
        span.input-group-addon#personCount Kişi Sayısı
        input( type="text", placeholder="Kişi Sayısı", aria-describedby="personCount", value="#{ model.personCount }").form-control
    br
    .input-group
        span.input-group-addon#startEndLocation Başlangıç - Bitiş Noktası
        input( type="text", placeholder="Başlangıç - Bitiş Noktası", aria-describedby="startEndLocation", value="#{ model.startLocation } - #{ model.endLocation }").form-control
    br
    .input-group.money-type
        span.input-group-addon#payment Ödeme
        input( type="text", placeholder="Ödeme", aria-describedby="payment", value="#{ model.fee }").form-control
        input( type="text", placeholder="", aria-describedby="moneyType1", value="#{ model.moneyType1 }").form-control    
    br
    .input-group.money-type
        span.input-group-addon#sell Satış
        input( type="text", placeholder="Satış", aria-describedby="sell", value="#{ model.sell }").form-control
        input( type="text", placeholder="", aria-describedby="moneyType2", value="#{ model.moneyType2 }").form-control   
    br
    if user._id == "57aa385ce07b19b347b7d093"
     .input-group.money-type
         span.input-group-addon#earnestMoney Kapora
         input( type="text", placeholder="Kapora", aria-describedby="earnestMoney", value="#{ model.earnestMoney }").form-control
         input( type="text", placeholder="", aria-describedby="moneyType3", value="#{ model.moneyType3 }").form-control        
     br
    .input-group
        span.input-group-addon#description Açıklama
        input( type="text", placeholder="Açıklama", aria-describedby="description", value="#{ model.description }").form-control
    br
    .input-group
        span.input-group-addon#hasMeail Yemekli mi?
        input( type="text", placeholder="Yemekli mi?", aria-describedby="hasMeail", value="#{ model.hasDinner ? 'evet' : 'hayır' }").form-control
