

form.eventContainer(data-id="#{model._id}")
    .input-group
        button(type="button", data-dismiss="modal").btn.btn-default Kapat
        if user.isAdmin == true
            a.btn.btn-danger.pull-left(href="/sil/#{model._id}" style="margin-left:0; width: 60px; margin-right: 10px;")#eventSilBtn Sil
            button(type="button", data-id="#{model._id}").btn.btn-primary.pull-left#eventUpdate Güncelle
    <br />
    .input-group
        span.input-group-addon Tekne
        select#selectedBoat.form-control
            for boat in boats
                if boat._id.toString() == model.boatId.toString()
                    option( value="#{boat._id.toString()}" selected="selected" ) #{boat.name}
                else
                    option( value="#{boat._id.toString()}") #{boat.name}
    br
    .input-group
        span.input-group-addon Konu
        input( name="subject" id="subject" type="text", placeholder="Konu", aria-describedby="subject", value="#{ model.subject }").form-control
    br
    .input-group
        span.input-group-addon#startDateSpan Başlangıç Tarihi
        input( name="startDate" id="startDate"  type="text", placeholder="Başlangıç Zamanı", aria-describedby="startDate", value="#{ model.startDate }").form-control.startDate
    br
    .input-group
        span.input-group-addon#endDateSpan Bitiş Tarihi
        input( name="endDate" id="endDate"  type="text", placeholder="Saati", aria-describedby="endDate", value="#{ model.endDate }").form-control.endDate
    br
    .input-group
        span.input-group-addon Kişi Sayısı
        input( name="personCount" id="personCount" type="text", placeholder="Kişi Sayısı", aria-describedby="personCount", value="#{ model.personCount }").form-control
    br
    .input-group
        span.input-group-addon#startEndLocation Başlangıç - Bitiş Noktası
        input( name="startLocation" id="startLocation" type="text", placeholder="Başlangıç - Bitiş Noktası", aria-describedby="startEndLocation", value="#{ model.startLocation } - #{ model.endLocation }").form-control
    br
    .input-group.money-type
        span.input-group-addon#payment Ödeme
        input( name="fee" id="fee" type="text", placeholder="Ödeme", aria-describedby="payment", value="#{ model.fee }").form-control
        input( name="moneyType1" id="moneyType1" type="text", placeholder="", aria-describedby="moneyType1", value="#{ model.moneyType1 }").form-control    
    br
    if user.isAdmin == true
     .input-group.money-type
         span.input-group-addon Satış
         input( name="sell" id="sell" type="text", placeholder="Satış", aria-describedby="sell", value="#{ model.sell }").form-control
         input( name="moneyType2" id="moneyType2" type="text", placeholder="", aria-describedby="moneyType2", value="#{ model.moneyType2 }").form-control   
     br
    if user.isAdmin == true
     .input-group.money-type
         span.input-group-addon Kapora
         input( name="earnestMoney" id="earnestMoney" type="text", placeholder="Kapora", aria-describedby="earnestMoney", value="#{ model.earnestMoney }").form-control
         input( name="moneyType3" id="moneyType3" type="text", placeholder="", aria-describedby="moneyType3", value="#{ model.moneyType3 }").form-control        
     br
    .input-group
        span.input-group-addon Açıklama
        textarea(name="description" id="description" rows="2" aria-describedby="description").form-control #{ model.description }
    br
    .input-group
        span.input-group-addon#hasMeail Yemekli mi?
        input( name="hasDinner" id="hasDinner" type="text", placeholder="Yemekli mi?", aria-describedby="hasMeail", value="#{ model.hasDinner ? 'evet' : 'hayır' }").form-control

    .modal-footer(style="padding: 30px 0 10px")
        button(type="button", data-dismiss="modal").btn.btn-default Kapat
        if user.isAdmin == true
            a.btn.btn-danger.pull-left(href="/sil/#{model._id}" style="margin-left:0; width: 60px; margin-right: 10px;")#eventSilBtn Sil
            button(type="button", data-id="#{model._id}").btn.btn-primary.pull-left#eventUpdate Güncelle

    script.
        var startDate = $(".startDate").val();
        var endDate = $(".endDate").val();


        $(".startDate").flatpickr({
            time_24hr: true,
            enableTime: true,
            dateFormat: "Y-m-d H:i",
            defaultDate: startDate,
            minuteIncrement: 30,
            locale: "tr",
            static:true
        });
        $(".endDate").flatpickr({
            time_24hr: true,
            enableTime: true,
            dateFormat: "Y-m-d H:i",
            defaultDate: endDate,
            minuteIncrement: 30,
            locale: "tr",
            static:true
        });
    style(type='text/css').
       .startDate{
               background-color: white !important;
       }
       .endDate{
               background-color: white !important;
       }
       .flatpickr-wrapper{
           width: 100%;
       }