
doctype
html
	head
		title #{title}
		meta(http-equiv='content-type', content='text/html; charset=UTF-8')
		meta(charset="utf-8")
		meta(name="generator", content="Bootply")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/bootstrap-datepicker3.standalone.min.css')
		link(rel='stylesheet', href='/lib/bootstrap-calendar/css/calendar.css')
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css')
		link(rel="stylesheet", href="css/screen.css")
	body
		.container(style='margin:20px')
			.row
				.col-md-12
					.panel.panel-primary
						.panel-heading Yeni tekne giriniz
						.panel-body
							form(method="POST",action="/tekneler/ekle")
								.row
									.col-md-11
										input(type='text', placeholder='Tekne adını giriniz',name="bname").form-control
									.col-md-1
										button(type="submit").btn.btn-success.addBoat Ekle
			.row
				.col-md-12
					.panel.panel-info
						.panel-heading Sistemde kayıtlı teknelerin listesi
						.panel-body
							small(style="color:red") #{model.error}
							table(style='background-color:white;').table.table-bordered.table-hover
								thead
									tr
										th Id
										th Tekne Adı
										th Sil
								tbody
									each boat in model.boats
										tr(data-id='#{boat.id}')
										
											td #{boat._id}
											td #{boat.name}
											td
												a.btn.btn-danger.deleteBoat(href="sil/#{boat._id}") Sil
